<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="forms/fonts/icomoon/style.css">

    <link rel="stylesheet" href="forms/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="forms/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="forms/css/style.css">

    <title>Add assignment || book Overflow</title>
  </head>
  <body>
  

  <div class="half2 half">
    <div class="bg order-1 order-md-2" style="background-image: url('forms/images/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6">
            <div class="form-block">
              <div class="text-center mb-5">
              <h3>Adding Book to <strong>Book Overflow</strong></h3>
              <p class="mb-4" style="color: red;"><%= msg %> </p>
              </div>
              <form action="<%= website %>/addbook/samoaJoe" method="post" enctype="multipart/form-data">
                  <!-- username  -->
                <div class="form-group first">
                  <label for="username">Title</label>
                  <input type="text" name="name" class="form-control" placeholder="Username" id="username" minlength="4" maxlength="40" required>
                </div>
                <!-- email  -->
                <div class="form-group last mb-3">
                    <label for="email">Subject</label>
                    <input type="text" name="subject" class="form-control" placeholder="Subject" id="password" minlength="6" maxlength="45" required>
                </div>
                <div class="form-group last mb-3">
                  <label for="password">Topic</label>
                  <input type="text" name="topic" class="form-control" placeholder="Topic" id="password" minlength="6" maxlength="35" required>
                </div>
                <div class="form-group last mb-3">
                    <label for="School">Class/Grade</label>
                    <input type="text" name="grade" class="form-control" placeholder="grade or class: grade 4" id="password" minlength="3" maxlength="15" required>
                </div>
                
                <div class="form-group last mb-3">
                    <label for="School">Description</label><br>
                    <textarea name="bookDescription" class="form-control" cols="30" rows="15" required minlength="10"></textarea>
                    <!-- <input type="text" name="grade" class="form-control" placeholder="grade or class: grade 4" id="password" minlength="3" maxlength="6" required> -->
                </div>
                <div class="form-group last mb-3">
                    <label for="School">book</label>
                    <input type="file" name="book" class="form-control" placeholder="grade or class: grade 4" id="password" required>
                </div>
                <input type="hidden" name="userid" value="<%= user %>" >
                <input type="submit" value="Add Book" class="btn btn-block btn-primary" style="background-color: #2a4b7c; border-color: #2a4b7c;">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="forms/js/jquery-3.3.1.min.js"></script>
    <script src="forms/js/popper.min.js"></script>
    <script src="forms/js/bootstrap.min.js"></script>
    <script src="forms/js/main.js"></script>
  </body>
</html>









<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Assignment</title>
</head>
<body>
    <form action="/addbook/samoaJoe" method="post" enctype="multipart/form-data">
        <input type="text" name="name" id="" placeholder="Assignment name" required><br>
        <input type="text" name="subject" id="" placeholder="Subject" required> <br>
        <input type="text" name="topic" placeholder="Topic" required><br>
        <input type="text" name="grade" id="" placeholder="grade" required><br>
        <textarea name="bookDescription" id="" cols="30" rows="10" placeholder="Description" required></textarea><br>
        <input type="file" name="book" id="" placeholder="upload book" required><br>
        <input type="hidden" name="userid" value=" >
        <button type="submit" onsubmit="upload()">Add book</button>
    </form>
</body>

<script>
    function upload() {
        window.location.pathname='/'        
    }
</script>

</html> -->